body {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fcf7ec;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.exception {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.exception .ex-status {
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.exception .ex-detail {
  color: rgba(0, 0, 0, 0.65);
}
